 #默认为true  自动安装任何缺失的非可选对等依赖
auto-install-peers = true
# 如果某些工具仅在提升的依赖位于 node_modules 的根目录中时才起作用，则可以将其设置为 true 来为你提升它们
shamefully-hoist = true
# 忽略工作区根目录检查
ignore-workspace-root-check=true
# 将从工作区链接的依赖添加到 package.json  @see https://pnpm.nodejs.cn/npmrc#save-workspace-protocol
save-workspace-protocol = rolling
# 设置为 true 本地可用的软件包将链接到 node_modules
link-workspace-packages = true
