@import '../mixins';

// 菜单样式
.el-menu-layout {
	--el-menu-item-height: var(--top-header-height) !important;
	--el-menu-horizontal-height: var(--top-header-height) !important;

	// 常规菜单
	.el-menu {
		width: 100%;
		border-right: 0;

		.el-sub-menu {
			&.is-active > .el-sub-menu__title {
				color: var(--el-color-primary);
				border-bottom: none;
			}

			.el-sub-menu__title {
				border-bottom: none;

				& > * {
					z-index: 1;
				}

				&:hover {
					color: var(--el-color-primary);
					background-color: transparent;
				}

				&:hover::before {
					@include menu-before;

					background: var(--el-fill-color);
				}

				&.is-active::before {
					@include menu-before;

					background: var(--el-color-primary-light-9);
				}
			}
		}

		@include menu-style;
	}

	// 折叠动画隐藏文字
	.horizontal-collapse-transition {
		.el-menu__title {
			display: none;
		}
	}

	// 垂直菜单popper样式
	&-popper {
		@include menu-style;
	}

	// 垂直菜单
	&__horizontal {
		.el-menu--horizontal {
			.el-sub-menu {
				.el-sub-menu__title {
					&:hover::before,
					&.is-active::before {
						display: none;
					}
				}
			}

			.el-menu-item {
				&.is-active {
					background-color: transparent !important;
				}

				&:not(.is-active):hover {
					color: var(--el-color-primary);
					background-color: transparent !important;
				}

				&:hover::before,
				&.is-active::before {
					display: none;
				}
			}
		}
	}
}

// 滚动条高度设置为100%
.el-scrollbar__view {
	height: 100%;
}

.scrollbar-wrapper {
	overflow-x: hidden !important;
}

// element-plus from
.el-form .el-col {
	.el-select,
	.el-form-item {
		width: 100%;
	}
}

/* 去除el-drawer头部margin */
.el-drawer {
	font-size: 14px;

	.el-drawer__header {
		margin: 0;
	}
}

// 将 el-card__body高度设置100%
.el-card {
	.el-card__body {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}

// 去除el-dropdown focus 黑框
.el-dropdown {
	.el-tooltip__trigger:focus {
		outline: none; // unset 这个也行
	}
}
