@import './reset';
@import './transform';

html,
body,
#app {
	width: 100%;
	height: 100%;
}

/* 灰色模式 */
.html-grey {
	filter: grayscale(100%); // 灰色
}

/* 色弱模式 */
.html-weakness {
	filter: invert(80%); // 色弱
}

/* 自定义nprogress颜色 */
#nprogress .bar {
	background: var(--el-color-primary) !important;
}

/* mask image */
%mask-image {
	mask-image: linear-gradient(90deg, #000 0%, #000 calc(100% - 50px), transparent);
}

.mask-image-right {
	@extend %mask-image;

	padding-right: 50px;
}

.mask-image-left {
	@extend %mask-image;
}

/* 拖拽背景 */
.ghost {
	background: var(--el-color-primary-light-8);
	opacity: 0.5;
}
