@mixin menu-before {
	position: absolute;
	inset: 2px 5px;
	clear: both;
	content: '';
	border-radius: 6px;
}

@mixin menu-style() {
	.el-menu-item {
		color: var(--left-menu-text-color);

		& > * {
			z-index: 1;
		}

		&.is-active {
			color: var(--left-menu-active-text-color);
			background-color: transparent !important;
		}

		&:not(.is-active):hover {
			color: var(--el-color-primary);
			background-color: transparent !important;
		}

		&:hover::before {
			@include menu-before;

			background: var(--left-menu-hover-color);
		}

		&.is-active::before {
			@include menu-before;

			background: var(--left-menu-active-color);
		}
	}
}

// 屏幕分界点
$width-small: 375px;
$width-medium: 768px;
$width-large: 1440px;

@mixin responsive($width) {
	@if $width == $width-large {
		// 769 ~ 1440
		@media only screen and (min-width: $width-medium) and (max-width: $width-large) {
			@content;
		}
	} @else if $width == $width-medium {
		// 376 ~ 768
		@media only screen and (min-width: $width-small) and (max-width: $width-medium) {
			@content;
		}
	} @else if $width == $width-small {
		// <= 375
		@media only screen and (max-width: $width-small) {
			@content;
		}
	} @else {
		// > 1440
		@media only screen and (min-width: $width-large) {
			@content;
		}
	}
}
