$menu-bg-color: (
	light: var(--el-menu-bg-color),
	dark: #273352
);
$menu-text-color: (
	light: var(--el-menu-text-color),
	dark: #fff
);
$menu-active-text-color: (
	light: var(--el-color-primary),
	dark: #fff
);
$menu-hover-bg-color: (
	light: var(--el-fill-color),
	dark: #273352
);
$menu-active-bg-color: (
	light: var(--el-color-primary-light-9),
	dark: var(--el-color-primary)
);
$menu-border-color: (
	light: var(--el-color-info-light-8),
	dark: #273352
);
